**/proto/generated
.env
.VSCodeCounter*
.vscode
logs*
ui/node_modules
next-env.d.ts
.next
**/*.pprof
**/*.prof
**/*.exe
# Local .terraform directories
.terraform/

# Delete or ignore all tfstate files
*.tfstate
*.tfstate.*

# Crash logs
crash.log